.DS_Store
application/cache/*
!application/cache/index.html

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

application/logs/*
!application/logs/index.html

!application/*/.htaccess


tests/mocks/database/ci_test.sqlite

/vendor/
/nbproject/

# Visual Studio Code
.vscode/

/results/