/****************** Buscar *************************/

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
  }
  
  .header2__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
  }
  
  .header2__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .header2__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
  }
  
  .header2__search {
    display: flex;
    padding: .40rem .75rem;
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
  }
  
  .header2__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  
  .header2__input::placeholder {
    font-family: var(--body-font);
    color: var(--text-color);
  }
  
  .header2__icon, 
  .header2__toggle {
    font-size: 1.2rem;
  }
  
  .header2__toggle {
    color: var(--title-color);
    cursor: pointer;
  }


/**************   Botones *******************/
.button__primary{
    width:100% ;
    height:fit-content ;
    justify-content: center;
}


/*************** Tablas **********************/
.tabla__color{
    background-color: rgb(255, 255, 255);
   border-radius: 5px;
   
}


.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

/**************** icons  ************************************/

.delete_icon{
background-color:#DC0424;
;

color: aliceblue;
width:24px ;
height: 24px;
margin: 5px;
border: 0px;

}
.edit_icon{
    background-color: #FFCA2C;
    
    color: aliceblue;
    width:24px ;
    height: 24px;
    margin: 5px;
    border: 0px;
    
    }
.view_icon{
    background-color:#04A4E3;
    
    color: aliceblue;
    width:24px ;
    height: 24px;
    margin: 5px;
    border: 0px;
    
    }





